* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 75px;
    background-color:#FF0000;
    color: white;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}


.nav-links{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 75%;
}

.inicio,
.pokedex,
.objetos,
.galeria{

    width: 81px;
    height: 24px;
    left: 329px;
    top: 20px;

    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 780px) {

    .navbar{
        justify-content:space-around;
    }
    
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 25px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #da6868;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .inicio,
    .pokedex,
    .objetos,
    .galeria{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        color: white;
        background-color: #ae6262;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;  
    }
}
